.home-container {
  display: flex;
  height: 80vh;
  .left-side {
    width: 100%;
    max-width: 750px;
    margin: 3rem 0 0 5rem;
    .subtitle-home {
      font-size: 1.2rem;
      font-family: "Poppins";
      font-weight: 300;
      margin: 0;
      width: 350px;
    }
    .title-home {
      height: 400px;
    }
    .hire-button {
      font-size: 1.2rem;
      font-family: "Poppins";
      font-weight: 400;
      margin: 10px 0px;
      background-color: #ef5b5b;
      width: fit-content;
      padding: 5px 30px 5px 30px;
      border-radius: 5px;
      cursor: pointer;
    }
    .hire-button:active {
      background-color: #e03d3d;
    }
  }
  .rocket {
    width: 500px;
  }
  .rocket-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
