.steps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container {
  max-width: 1300px;
}
.steps-image {
  width: 100%;
}

.button-ign{
  border: none;
  background-color: #EF5B5B;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-right: 110px;
  padding: 10px 60px;
  border-radius: 10px;
  margin-top: -15px;
}

.button-ign:hover{
  background-color: #E74C3C;
  cursor: pointer;
}
