.form-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  max-width: 1200px;
  margin-top: 5rem;
  height: 550px;
  align-items: center;
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .form-container {
      display: flex;
      flex-direction: column;
      .form-item {
        height: 70px;
        display: flex;
        flex-direction: column;
        width: 500px;
        label {
          font-family: "Poppins", sans-serif;
          font-weight: 600;
        }
        input {
          height: 30px;
          border: 2px solid #a5a5a5;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
        }
      }
      .form-item-area {
        display: flex;
        flex-direction: column;
        width: 500px;
        label {
          font-family: "Poppins", sans-serif;
          font-weight: 600;
        }
        textarea {
          height: 150px;
          border: 2px solid #a5a5a5;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
        }
      }
      button {
        border: none;
        background-color: #ef5b5b;
        color: white;
        font-family: "Poppins", sans-serif;
        padding: 10px 60px;
        border-radius: 10px;
        width: 70px;
        margin-top: 10px;
      }
      button:hover {
        background-color: #e74c3c;
        cursor: pointer;
      }
    }
    .byot-img {
      width: 400px;
    }
  }
}
