* {
  list-style: none;
  text-decoration: none;
}

.navbar-container {
  margin-top: 0;
  background: #fff;
  width: 100%;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 70px;
}

.navbar-item {
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  justify-content: center;
}

.navbar-content {
  display: flex;
  height: 35px;
}

.navbar-logo {
  width: 200px;
  display: flex;
  justify-content: center;
  height: 35px;
}

.navbar-logo img {
  width: 100%;
}

.mobile-navbar {
  display: none;
}

@media screen and (max-width: 720px) {
  .navbar-content {
    display: none;
  }
  .mobile-navbar {
    display: flex;
  }
}