.footer-container {
  display: flex;
  padding: 50px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 130px;
  background-color: rgb(237, 237, 237);
  box-shadow: 0 0 28px 28px rgb(237, 237, 237);
  font-family: "Poppins", sans-serif;
}

.logo-section {
  width: 100%;
  max-width: 900px;
  /* border: 2px solid red; */
}

.logo-section img {
  width: 270px;
  margin: 0;
  margin-left: -25px;
}

.logo-section p {
  margin: 0;
}

.left-section {
  width: 100%;
  max-width: 600px;
  /* border: 2px solid red; */
  display: flex;
}

.contact-section {
  margin-right: 100px;
}

.contact-section h1 {
  font-size: 18px;
}

.contact-section p {
  font-size: 14px;
}

.social-section {
  display: flex;
  flex-direction: column;
}

.social-section h1 {
  font-size: 18px;
}

.social-net {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.social-net:link,
.social-net:visited,
.social-net:active {
  text-decoration: none;
  border: 0;
}

@media screen and (max-width: 900px) {
  .footer-container {
    flex-direction: column;
  }

  .logo-section {
    width: 100%;
    max-width: none;
    margin-bottom: 50px;
  }

  .left-section {
    width: 100%;
    max-width: none;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 425px) {
  .contact-section {
    margin-right: 0;
  }
}
